.digital_content_right{
    min-width: 550px;
}
.digital_box{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}
.digital_box_button{
    align-items: center;
    background: #edca99;
    border: 1px solid var(--c-accent);
    border-radius: 5px;
    color: var(--c-text);
    display: flex;
    font-size: 14px;
    height: 36px;
    justify-content: center;
    padding: 0;
    position: relative;
}
.digital_button{
    border: 1px solid #915f32;
    border-radius: 5px;
    color: var(--c-text);
    cursor: pointer;
    min-width: 46px;
    padding: 4px 0 3px;
    transition: background-color .1s;
    width: 100%;
    height: 100%;
}

.digital_box_button .inspiration{
    border: 1px solid #915f32;
    border-radius: 5px;
    color: var(--c-text);
    transition: background-color .1s;
    width: 100%;
    height: 100%;
}
.digital-exhaustion-wrap{
    align-items: center;
    border: 1px solid #915f32;
    border-radius: 5px;
    display: flex;
    height: 100%;
    min-width: 46px;
    position: relative;
    transition: background-color .1s;
    width: 100%;
}
.digital-exhaustion{
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.initiative-text {
    color: #9c27b0; /* Фиолетовый цвет */
    font-weight: bold;
}
.initiative{
    margin: 0;
}
.exhaustion{
    color: var(--c-text);
    display: block;
    flex: 1 1;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 21px;
    pointer-events: none;
    text-align: center;
    text-transform: uppercase;
}
.digital-header-additional{
    background: none;
    height: auto;
    min-height: 54px;
    width: 100%;
}
.digital-header-additional-wrap{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 5px;
}
.digital_boxed{
    align-items: center;
    border: 1px solid var(--c-accent);
    border-radius: 5px;
    color: var(--c-text);
    display: flex;
    font-size: 14px;
    height: 36px;
    justify-content: center;
    position: relative;
    width: 100%;
}
.digital-conditions{
    align-items: center;
    background: #edca99;
    display: flex;
    height: 90%;
    min-width: 46px;
    width: 100%;
}
.digital-conditions-boxed{
    align-items: center;
    background: #edca99;
    border: 1px solid #915f32;
    border-radius: 5px;
    display: flex;
    height: 100%;
    min-width: 46px;
    transition: background-color .1s;
    width: 100%;
    max-width: 330px;
}
.digital-conditions-button{
    color: var(--c-text);
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.digital-boxed-value-label{
    color: var(--c-text);
    display: inline-block;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.tabs-container {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    min-height: 0;
    width: 100%;
}

.tabs-header {
    display: flex;

}

.tab-button {
    background: none;
    font-size: 12px;
    align-items: center;
    border-bottom: 2px solid transparent;
    color: var(--c-text);
    cursor: pointer;
    display: flex;
    font-weight: 700;
    margin: 0;
    padding: 0 0 2px;
    text-transform: uppercase;
    transition: color .4s;
    border-radius: 0;
}

.tab-button:not(:last-of-type){
    margin-right:  8px;
}

.tab-button:hover {
    color: #915f32;
}

.tab-button.active {
    color: #915f32;
    border-bottom: 2px solid #915f32;
}

.tabs-content {
    border: 1px solid #915f32;
    border-radius: 0 0 5px 5px;
    margin-top: -1px;
    padding: 12px 16px;
    height: 600px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
/* Стили для модального окна состояний */
.conditions-list {
    margin: 20px 0;
    overflow-y: auto;
}

.condition-item {
    margin-bottom: 10px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    position: relative;
}

.condition-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.checkbox-custom {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #edca99; /* Цвет как у других элементов */
    border: 2px solid #915f32; /* Цвет рамки */
    border-radius: 3px;
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s;
}



.condition-checkbox input[type="checkbox"]:checked + .checkbox-custom {
    border-color: #915f32;
}

.condition-checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    content: ""; /* Убираем галочку */
}
.condition-checkbox:hover .checkbox-custom {
    background: #e0b985;
}

/* Состояние когда чекбокс отмечен */
.hidden-checkbox:checked + .checkbox-custom {

}

/* Белый квадратик внутри (имитация "галочки") */
.hidden-checkbox:checked + .checkbox-custom::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #915f32;
    border-radius: 2px;
}
.condition-name {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    vertical-align: middle;
}

.condition-name:hover {
    color: #ccc;
    text-decoration: underline;
}

.condition-description {
    margin-top: 5px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #ddd;
    font-size: 14px;
    line-height: 1.4;
}
.hidden-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
