body {
    font-family: TildaSans, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefae0;
}

.background-image-main {
    position: absolute;
    z-index: -1;
    top: 10%;
    left: 0;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #db934e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.container-info {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 30px;
    background: #db934e;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Arial, sans-serif;
}

.container-info label img {
    width: 40px;
}

.container-info label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}

/* Заголовок */
h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 22px;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
}

/* Метки (названия атрибутов) */
label {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Поля ввода */
input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

/* Стилизация числовых полей */
input[type="number"] {
    background: #edca99;
    color: #fff;
    border: 1px solid #444;
    text-align: left;
    font-weight: bold;
}

/* Подсветка при фокусе */
input[type="number"]:focus {
    outline: none;
    border: 1px solid #a991f7;
    background: #3b3b5f;
}

/* Стилизация кнопки */
button {
    background:  #edca99;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

/* Анимация при наведении */
button:hover {
    background: #6a4fbb;
    transform: scale(1.05);
}

/* Сетка для полей атрибутов */
form label,
form input {
    display: inline-block;
}

/* Выравнивание полей в столбцы */
form label {
    text-align: left;
    font-weight: bold;
}

.user-info-avatar {
    display: flex;
    align-items: center;
}
