* {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

html, body {
    overflow-y: hidden;
}

body {
    font-family: TildaSans, sans-serif;
    background-color: #fefae0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 35px 35px 0 35px;
}

.nav a {
    font-size: 40px;
    color: #000;
    text-decoration: none;
}

.background-image-main {
    position: absolute;
    z-index: -1;
    top:10%;
}

.house-div {
    display: flex;
    justify-content: flex-end;
}

.house-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}

.city-div {
    display: inline-block;
}
.city-div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254 250 224); /* Красный цвет с прозрачностью */
    mix-blend-mode: multiply; /* Режим наложения */
}
.city-img {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 120px;
    width: 100%;
    z-index: -5;
    filter: blur(3px);
    height: 90%;
}

.image-text-container {
    position: relative;
    display: inline-block;
}



.text-overlay {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.image-text-container-logo {
    position: relative;
    margin-left: 10%;
}

.text-overlay-logo {
    position: absolute;
    text-align: center;
    font-weight: 600;
    line-height: 95%;
    font-size: 60px;
    top: 42%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.button-exit {
    font-size: 24px;
    cursor: pointer;
    background-color: #db934e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
